<!-- Hello World -->

<!-- {{today | date:'yyyy-mm-dd HH:mm s' }} <br> -->

<!-- India Standard Time : {{todayDate | date:'short':'00:00:00'}} <br> -->

<!-- Today is {{todayDate | date:'short':'PST'}} <br> -->

<!-- Today is {{todayDate | date:'short':'Australian Central Time'}} -->

<!-- {{ date_Value | date [ : format [ : timezone [ : locale ] ] ] }} -->

1 Today is {{todayDate | date:'short':'UTC-06'}} <br>
2 Today is {{todayDate | date:'short':'UTC-08'}}  <br>
2 Today is {{todayDate | date:'short':'UTC−08'}}  <br>
2 Today is {{todayDate | date:'short':'UTC-08'}}  <br>
 