Hello World<h4>NgFor</h4>
<ul>
  <li *ngFor="let person of people; let i = index">
    {{ i + 1 }} - {{ person.name }}
  </li>
</ul>


<h4>NgFor Grouped</h4>
<ul *ngFor="let group of peopleByCountry">
  <li>{{ group.country }}</li>
  <ul>
    <li *ngFor="let person of group.people">
      {{ person.name }}
    </li>
  </ul>
</ul>


<h4>NgIf</h4>
<ul *ngFor="let person of people1">
  <li *ngIf="person.age < 30"> (1)
  {{ person.name }} ({{ person.age }})
  </li>
</ul>
<p>ngFor="let person of people" *ngIf="person.age < 30" code wont work </p>


<h4>NgSwitch</h4>
<ul *ngFor="let person of people2"
    [ngSwitch]="person.country">
  <li *ngSwitchCase="'UK'"
      class="text-success">
    {{ person.name }} ({{ person.country }})
  </li>
  <li *ngSwitchCase="'USA'"
      class="text-primary">
    {{ person.name }} ({{ person.country }})
  </li>
  <li *ngSwitchCase="'HK'"
      class="text-danger">
    {{ person.name }} ({{ person.country }})
  </li>
  <li *ngSwitchDefault
      class="text-warning">
    {{ person.name }} ({{ person.country }})
  </li>
</ul>


<h4>Ng Style </h4>
<div [ngStyle]="{'background-color':'green'}">
Test  
</div>
<!-- <div [ngStyle]="{'background-color':person.country === 'UK' ? 'green' : 'red' }">sdf</<div> -->

  


<ul *ngFor="let person of people3">
  <li [ngStyle]="{'color':getColor(person.country)}"> {{ person.name }} ({{ person.country }}) (1)
  </li>
</ul>

OR

<ul *ngFor="let person of people3">
  <li [style.color]="getColor(person.country)">{{ person.name }} ({{ person.country }})
  </li>
</ul>